@media  (max-width: 450px) {
    #dhht-header {
        padding: 0.5rem
    }
    #dhht-footer {
        padding-left: 1.5rem;
    }

    .dhht-container {
        margin: 1.0rem;
        padding: 0.75rem;
    }
}
@media (min-width: 451px) {
    #dhht-header {
        padding: 1.0rem
    }

    #dhht-footer {
        padding-left: 1.75rem;
        padding-right: 1.75rem
    }

    .dhht-container {
        margin: 1.0rem;
        padding: 1.0rem;
    }
}

@media (min-width: 821px) {
    #dhht-header {
            padding: 1.0rem
        }
    
        #dhht-footer {
            padding-left: 1.75rem;
        }
        .dhht-container {
            margin-left: auto;
            margin-right: auto;
            padding-left: 3rem;
            padding-right: 3rem;
        }
}

body {
    font-family: "Helvetica Neue Light", Arial, sans-serif
}

html {
    position: relative;
    min-height: 100%;
    padding-bottom: 4rem;
}

.navbar > div > a:hover, .navbar > div > div > ul > li > a:hover {
    color: #60D0DA
}

.dhht-navbar-default {
    background-image: none;
    background-color: #052049;
}

#dhht-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 3rem;
    
}

.dhht-container {
    padding-bottom: 5rem;
    padding-top: 1rem;
}

.dropdown-item, .nav-link, .navbar-brand, .nav-item {
    color: #ffffff;
}

