---
sitemap: false
---

@import 'digitalhealthhumanities-toolkit-theme';

.backsplash {
    background-color: #E2F4FC;
    padding-top: 1.1em;
    padding-bottom: 1.1em;
    margin-bottom: 1.1em;
    margin-top: 1.1em;
}

.banner-img {
    max-height: 500px;
}

#dhht-header {
    background-color: #0F388A;
}

#intro-course-header > .card-header {
    background-color: #84C234;
}






