---
sitemap: false
---

@import 'digitalhealthhumanities-toolkit-theme';

#dhht-header {
    background-color: #0F388A;
}

#intro-course-header > .card-header {
    background-color: #84C234;
}

.bio-text {
    max-height: 100%;
    overflow-y: scroll;
}

.content {
    color: #ffffff
}
@media (max-width: 420px) {
    .headshot {
        max-width: 100%;
        align-content: center;
    }
}

@media (min-width: 421px) {
    .bio {
        max-height: 250px;
        padding: 1.1em;

        align-content: center;
    }
    
    .headshot {
        max-height: 250px;
    }

}

@media (min-width: 821px) {
    .bio {
        max-height: 300px;
    }

    .headshot {
        max-height: 300px;
    }
}






